.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;

  @media screen and (max-width: 1919px) {
    // grid-template-columns: repeat(6, 1fr);
    display: block;
  }
  // @media screen and (max-width: 1023px) {
  //   grid-template-columns: repeat(4, 1fr);
  // }
  // @media screen and (max-width: 767px) {
  //   // display: flex;
  //   // flex-direction: column-reverse;
  // }
}

.wallet {
  padding-bottom: 54px;

  @media screen and (max-width: 1023px) {
    // padding-bottom: 36px;
  }
  @media screen and (max-width: 767px) {
    padding-bottom: 35px;
  }
  .wallet__content {
    grid-column: span 4;

    ul {
      display: flex;
      flex-wrap: wrap;
      height: 20px;
      margin-bottom: 24px;
      list-style: none;
      margin-left: 10px;

      @media screen and (max-width: 767px) {
        margin-bottom: 61px;
      }

      li {
        width: 16px;
        height: 20px;
        background: url('./img/coin.png');
        margin-left: -10px;
        margin-bottom: 8px;
      }
    }

    p {
      margin-bottom: 44px;
      color: #a3b8cc;
      font-size: 24px;
      font-weight: 500;
      line-height: 24px;

      @media screen and (max-width: 1919px) {
        margin-bottom: 35px;
        font-size: 18px;
      }

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      span {
        margin-right: 5px;
        color: #a3b8cc;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;

        @media screen and (max-width: 1919px) {
          font-size: 18px;
        }
      }
    }
    button {
      margin-right: 31px;
      background: transparent;
      border: none;
      border-bottom: 1px solid rgba(255, 127, 34, 0.5);
      color: #ff7f22;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      @media screen and (max-width: 767px) {
        margin: 0;
        margin-bottom: 24px;
      }

      &:hover {
        border-bottom: 1px solid #ff5722;
        color: #ff5722;
      }
      &:active {
        border-bottom: 1px solid transparent;
        color: #ff7f22;
      }
      &:disabled {
        border-bottom: 1px solid transparent;
        color: #4c5865;
        cursor: default;
      }
    }
    label {
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 767px) {
        display: flex;
        padding: 0 3px;
      }

      input {
        position: absolute;
        appearance: none;
        margin-right: 10px;

        &:checked + .check__span {
          background-image: url('./img/cb.svg');
          background-repeat: no-repeat;
          background-position: center;
        }

        &:hover + .check__span {
          border: 2px solid #4c5865;
        }

        &:disabled + .check__span {
          background-image: none;
          border: 2px solid #333940;
        }
      }
      .check__span {
        position: absolute;
        width: 24px;
        height: 24px;
        border: 2px solid #a3b8cc;
        box-sizing: border-box;
        transition: border 0.2s ease-in-out;
      }
      .imput__text {
        margin-left: 37px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}
