.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 46px;
}

section {
  padding: 50px 0;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 60px;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
}

aside {
  grid-column: 1;
  padding: 10px 0;

  span {
    padding: 0 4px;
    color: #667380;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    user-select: none;
  }
}





.market__content,
.stock__content {
  grid-column: span 7;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
      width: 236px;
      display: flex;
      flex-direction: column;
      margin-right: 24px;
    }
  }
}

.stock {
  padding-bottom: 66px;
}
