.layout {
  // height: 100vh;
  background: radial-gradient(
    82.33% 70.44% at 50% 0%,
    #26394d 0%,
    #212529 100%
  );

  .container {
    padding: 48px 0;

    max-width: 1016px;
    margin: 0 auto;
  }
}
