.imgBack {
  height: 128px;
  margin-bottom: 25px;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 8px 25px #ff7f22);

  @media screen and (max-width: 1919px) {
    margin-bottom: 22px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.headind {
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;

  @media screen and (max-width: 1919px) {
    font-size: 18px;
    line-height: 24px;
  }
}

.price {
  margin-bottom: 24px;
  color: #a3b8cc;
  text-align: center;
  font-weight: 500;
  line-height: 24px;

  @media screen and (max-width: 1919px) {
    font-size: 16px;
  }
}


