.heding {
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
.price {
  margin-bottom: 15px;
  color: #a3b8cc;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
}
.item {
  margin-bottom: 24px;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
